<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Readme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="column" style="text-align: center;">
        <img src="{{ url_for('static', filename='assets/cards-0.png') }}" alt="cards" class="cards-image">
        <div class="details-wrapper">
            <div class="detail-title">Beautiful cards for your GitHub readme</div>
            <div class="detail-sub">showing your currently playing song from spotify and more.</div>
            <a href="{{ url_for('login') }}" class="login-wrapper" style="margin-top: 40px;">
                <div class="login-button">
                    Login to Spotify
                </div>
                <img src="{{ url_for('static', filename='assets/arrow.svg') }}" alt="" height="28px" width="28px">
            </a>
        </div>
    </div>
</body>

</html>